.loading{
  font-size: 2rem;
  margin: 200px auto 0px;
  animation: spin 1s infinite;
  width: 100%;
  color: #333;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}